<?xml version="1.0" encoding="utf-8" ?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<Target Name="Build">
		<Message Text="Building Developer Menu" />
		<MSBuild Projects ="{CompileProjects}"	 ContinueOnError ="false" BuildInParallel="true" >
			<Output ItemName="OutputFiles" TaskParameter="TargetOutputs"/>
		</MSBuild>
	</Target>
</Project>