@section Scripts
{
    <script src="@Url.Content("~/Scripts/MenuPrincipal.js")"></script>
}

<h2>Menu principal</h2>
<form>
    <input type="button" value="Usuarios" onclick="Usuarios()" />
    <input type="button" value="Articulos" onclick="Articulos()" />
    <input type="button" value="Proveedores" onclick="Salir()" />
    <input type="button" value="Articulos del proveedor" onclick="Salir()" />
    <input type="button" value="Factura" />
    <input type="button" value="Registro" />
    <input type="button" value="Salir" onclick="Salir()" />
</form>