@section Scripts
{
    <script src="@Url.Content("~/Scripts/MenuPrincipal.js")"></script>
}

<h2>Menu principal</h2>
<form>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="Usuarios()">Usuarios</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="Articulos()">Articulos</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="Proveedores()">Proveedores</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="Contactos()">Contactos</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="Comunicaciones()">Comunicaciones</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="ArticulosProveedor()">Articulos de un proveedor</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="Compras()">Factura de compras</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Factura de ventas</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="Registros()">Registro</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Listado de productos en o por debajo del stock minimo</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Listados de productos por deabjo del 40%</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Listado de precios de un articulo de un proveedor</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="Salir()">Salir</button>
    <label id="lblRes">@ViewBag.res</label>
</form>