@section Scripts
{
    <script src="@Url.Content("~/Scripts/Usuarios.js")"></script>
}
<h2>Usuarios</h2>
<table>
    <tr>
        <td><label>Mail</label></td>
        <td><input type="text" id="txtMail" /></td>
    </tr>
    <tr>
        <td><label>Contraseña</label></td>
        <td><input type="text" id="txtContra" /></td>
    </tr>
    <tr>
        <td><input type="button" value="Registrar" onclick="AgregarUsuario()"/></td>
        <td><label id="lblRes"></label></td>
    </tr>
    <tr>
        <td><input type="button" value="Salir" onclick="Salir()"/></td>
    </tr>
</table>