USE [master]
GO
/****** Object:  Database [MegaAgenda]    Script Date: 18/04/2018 16:09:05 ******/
CREATE DATABASE [MegaAgenda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MegaAgenda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MegaAgenda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MegaAgenda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MegaAgenda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MegaAgenda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MegaAgenda]
GO
USE [MegaAgenda]
GO
/****** Object:  Table [dbo].[Agenda]    Script Date: 18/04/2018 16:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agenda](
	[nombre] [varchar](50) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
 CONSTRAINT [PK_Agenda] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacto]    Script Date: 18/04/2018 16:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacto](
	[nombre] [varchar](50) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[agenda_nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Contacto] PRIMARY KEY CLUSTERED 
(
	[mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Agenda] ([nombre], [fecha_creacion]) VALUES (N'Mujica', CAST(N'2018-04-18' AS Date))
INSERT [dbo].[Agenda] ([nombre], [fecha_creacion]) VALUES (N'pedro', CAST(N'2018-04-18' AS Date))
INSERT [dbo].[Agenda] ([nombre], [fecha_creacion]) VALUES (N'wopa', CAST(N'2018-04-18' AS Date))
INSERT [dbo].[Contacto] ([nombre], [fecha_nacimiento], [mail], [agenda_nombre]) VALUES (N'wopachico', CAST(N'2018-04-18' AS Date), N'wopachico@gmail.com', N'wopa')
USE [master]
GO
