USE [master]
GO
/****** Object:  Database [MegaAgenda]    Script Date: 18/04/2018 18:20:11 ******/
CREATE DATABASE [MegaAgenda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MegaAgenda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MegaAgenda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MegaAgenda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MegaAgenda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MegaAgenda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MegaAgenda]
GO
USE [MegaAgenda]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 18/04/2018 18:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[fecha] [date] NOT NULL,
	[hora] [int] NOT NULL,
	[contacto_mail] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacto]    Script Date: 18/04/2018 18:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacto](
	[nombre] [varchar](50) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[pais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Contacto] PRIMARY KEY CLUSTERED 
(
	[mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefono]    Script Date: 18/04/2018 18:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono](
	[telefono] [varchar](50) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[contacto_mail] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Contacto] ([nombre], [fecha_nacimiento], [mail], [pais]) VALUES (N'raul', CAST(N'2222-12-12' AS Date), N'dsd@gmail.com', N'loquitolandia')
INSERT [dbo].[Contacto] ([nombre], [fecha_nacimiento], [mail], [pais]) VALUES (N'lautaro', CAST(N'3000-12-12' AS Date), N'la@gmail.com', N'brasil')
INSERT [dbo].[Contacto] ([nombre], [fecha_nacimiento], [mail], [pais]) VALUES (N'pedro', CAST(N'2000-12-12' AS Date), N'pedro@gmail.com', N'argentina')
USE [master]
GO
