@{
    ViewBag.Title = "Home Page";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Home.js")"></script>
}

<div class="row">
    <div class="col-md-12">
        <div id="items-container"></div>
        <input value="Probando" id="btnProbando" type="button"/>
        <p id="Hola"></p>
    </div>
</div>