@section Scripts
{
    <script src="@Url.Content("~/Scripts/Compra.js")"></script>
}
<h2>Factura de compra</h2>
<table class="table">
    <tr>
        <td><label>Proveedor</label></td>
        <td>
            <select id="slcProveedores"></select>
        </td>
    </tr>
    <tr>
        <td><input type="button" value="Registrar" onclick="AgregarCompra()" class="btn btn-default" /></td>
        <td><label id="lblRes"></label></td>
    </tr>
    <tr>
        <td><input type="button" value="Salir" onclick="Salir()" class="btn btn-default" /></td>
        <td></td>
    </tr>
</table>
<h2>Lista de articulos del proveedor para agregar</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td><label>Articulo</label></td>
            <td><label>Costo</label></td>
            <td><label>Cantidad stock</label></td>
            <td><label>Agregar y Modificar</label></td>
            <td><label>Borrar</label></td>
        </tr>
    </thead>
    <tbody id="tbyArticulosProveedor"></tbody>
</table>
<h2>Linea de facturas elegidas</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td><label>Articulo</label></td>
            <td><label>Cantidad stock</label></td>
        </tr>
    </thead>
    <tbody id="tbyLineasFacturasParaAgregar"></tbody>
</table>
<h2>Lista de facturas de compras</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td><label>Id</label></td>
            <td><label>Proveedor</label></td>
            <td><label>Fecha</label></td>
            <td><label>Informacion</label></td>
        </tr>
    </thead>
    <tbody id="tbyCompras"></tbody>
</table>

