
<h2>Menu de administradores</h2>
@Html.ActionLink("Mantenimiento de usuarios", "MantenimientoUsuarios", null, new { @class = "btn btn-default" });
@Html.ActionLink("Mantenimiento de administradores", "MantenimientoAdministradores", null, new { @class = "btn btn-default" });
@Html.ActionLink("Mantenimiento de direcciones", "MantenimientoDirecciones", null, new { @class = "btn btn-default" });
@Html.ActionLink("Mantenimiento de envios", "MantenimientoEnviosAdministrador", null, new { @class = "btn btn-default" });
