@using DAL
@model List<TodoItem>

<p>items partial view</p>
<ul>

    @foreach (var item in Model)
    {
        <li>
            <span>@item.Id</span>  <span>@item.Description</span>
        </li>
    }

</ul>