@section Scripts
{
    <script src="@Url.Content("~/Scripts/Contacto.js")"></script>
}
<h2>Contactos</h2>
<table class="table">
    <tr>
        <td><label>Proveedor</label></td>
        <td>
            <select id="slcProveedores">
            </select>
        </td>
    </tr>
    <tr>
        <td><label>Nombre</label></td>
        <td><input type="text" id="txtNombre" class="form-control" /></td>
    </tr>
    <tr>
    <tr>
        <td><label>Telefono</label></td>
        <td><input type="number" id="numTelefono" class="form-control" /></td>
    </tr>
    <tr>
        <td><input type="button" value="Registrar" onclick="Agregar()" class="btn btn-default" /></td>
        <td><label id="lblRes"></label></td>
    </tr>
    <tr>
        <td><input type="button" value="Salir" onclick="Salir()" class="btn btn-default" /></td>
        <td></td>
    </tr>
</table>
<h2>Lista de contactos</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td><label>Nombre</label></td>
            <td><label>Telefono</label></td>
            <td><label>Modificar</label></td>
            <td><label>Borrar</label></td>
        </tr>
    </thead>
    <tbody id="tbyContactos"></tbody>
</table>



